extends main_layout

block content
  include navbar

  .container-fluid(style="margin-top: 50px; height: 90%").p-5
   .row.w-100
     h1 Chat Room
   .row.w-100.h-100
    .card.w-100.h-100
      .card-header #{title}
        .js-userjoined
        .js-usersinchat Users in Chat: 
        .typing
      .card-body
        .container#messages
          .row.message-bubble
      .card-footer
        .input-group
          input#txtmessage.form-control(type='text')
          span.input-group-btn
            button#sendmessage.btn.btn-primary.btn-default(type='button') Send
