div.card-body.mb-0
    each c in p.comments
        div.container-fluid(id=c._id)
            div.row
                div.col-1.p-0
                    img.rounded-circle.border(src="/ficheiros/no-profile.png", width="38", height="auto")
                div.col-10.pl-0
                    p.p-2.bg-light.border.rounded
                        a(href="/user/" + c.from)
                            b #{c.from} 
                        span.markdown-content #{c.content}
                div.col-1
                    if c.from === user.id
                        button.btn.close(data-dismiss="modal" aria-label="Close" value="Delete" onclick="apagaComentario('" + p._id +"', '" + c._id + "')")
                            span(aria-hidden="true") 
                                h3 &times;
                

                    
    div.container-fluid
        div.row
            div.col-1.p-0
                img.rounded-circle.border(src="/ficheiros/" + user.profile_pic, width="38", height="auto")
            div.col-11.p-0
                form(id="add-comment-form-" + p._id, onsubmit="adicionaComentario('"+ p._id + "')")
                    input.form-control(type="text" name="content" placeholder="Escreve um comentário...")

