div.card-body.mb-0
    each c in p.comments
        div.container-fluid(id=c._id)
            div.row
                div.col-1.p-0
                    img.rounded-circle.border(src="/images/no-profile.png", width="38", height="auto")
                div.col-11.pl-0
                    p.p-2.bg-light.border.rounded
                        b #{c.from} 
                        span.markdown-content #{c.content}
            if c.from === user.id
                .d-flex.flex-row-reverse.mb-4
                    button.btn.btn-danger.float-right.d-inline(value="Delete" onclick="apagaComentario('" + p._id +"', '" + c._id + "')")
                        span Apagar
                

                    
    div.container-fluid
        div.row
            div.col-1.p-0
                img.rounded-circle.border(src="/images/no-profile.png", width="38", height="auto")
            div.col-11.p-0
                form(action="/post/" + p._id + "/comment", method="post")
                    input.form-control(type="text" name="content" placeholder="Escreve um comentário...")

