div.modal.fade(id="editProfilePicModal" tabindex="-1" role="dialog"  aria-hidden="true")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title Editar foto de perfil
                button.btn.close(data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;
            
            div.modal-body
                form(id="update-profile-pic", enctype="multipart/form-data" ,onsubmit="updateProfilePic('" + user.id + "');")
                    br
                    input(type="file" id="profile-pic-field" name="profile_pic" accept="image/*")
                    br

                    input.btn.btn-primary(type="submit",  value="Adicionar")
                