div.modal.fade(id="editProfilePicModal" tabindex="-1" role="dialog"  aria-hidden="true")
    div.modal-dialog(role="document")
        div.modal-content
            div.modal-header
                h5.modal-title Editar foto de perfil
                button.btn.close(data-dismiss="modal" aria-label="Close")
                    span(aria-hidden="true") &times;