extends main_layout

block content
    include navbar
    div.container-fluid.h-100
        div.row.h-100
            .col-3
            .col-6
                include post_form
            .col-3

        


        
