nav.navbar.navbar-s4s.bg-white.fixed-top
    img.ml-4(src="/images/s4slogo.png", width="60", height="auto")

    form(action="/logout", method="get")
        input.btn.btn-primary(type="Submit" value="Terminar sessão")

