nav.navbar.navbar-s4s.bg-white.fixed-top.navbar-expand-lg
    ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        a.ml-4(href="/")
            img.navbar-brand(src="/images/s4slogo.png", width="60", height="70")

    form(action="/logout", method="get")
        input.btn.btn-primary.mr-sm-2(type="Submit" value="Terminar sessão")

