extends main_layout

block content
    include navbar
    div.container-fluid(style="margin-top: 70px")
        div.row
            .col-3
                include user_info
            .col-6
                br
                if tag
                    i 
                        h4.text-secondary Publicações com o tópico: #{tag}
                if typeof(posts) !== "undefined"
                    each p in posts
                        include post
                        hr
            .col-3
