div.container-fluid
    br
    div.row
        .col.h-100
            div.card
                div.card-body
                    h5.card-title Faz uma publicação
                    form(action="/post", method="post")
                        div.form-group
                            textarea.form-control(rows="5" placeholder="Escrever aqui...")