br
div.text-center
    button.btn.btn-primary(data-toggle="collapse" data-target="#collapsePubForm" aria-expanded="false" aria-controls="collapseExample") Nova publicação
div.collapse.mt-2(id="collapsePubForm")
    div.card.mb-0
        div.card-body
            form(action="/post", method="post", enctype="multipart/form-data")
                div.form-group
                    input.form-control(type="text" name="title" placeholder="Assunto" required)
                div.form-group
                    textarea.form-control(rows="4" placeholder="Escrever aqui..." name="content" oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' required)
                
                div.form-group
                    input.form-control(name='tags' placeholder="Adicionar tags..." required)
                <script src="/javascripts/init_tagify.js"></script>

                div.form-group.mb-0
                    button.btn.btn-secondary(type="button" data-toggle="modal" data-target="#addFilesModal") Anexos

                    input.btn.btn-lg.btn-primary.mb-0.float-right(type="submit" value="Publicar")

                include add_files_modal

