extends main_layout
block content
    include navbar
    div.container-fluid(style="margin-top: 70px")
        div.row
            .col-1
            .col-10
                br
                include full_post
            .col-1
