extends main_layout

block content
	include navbar
	div.container-fluid(style="margin-top: 70px")
		div.row
			.col-3
				include user_info
			.col-6.mt-4
				div.card
					div.container-fluid
						div.row
							div.col-4.pt-5(style="text-align: center;")
								img.rounded-circle.border.mt-4.ml-4(src="/images/no-profile.png", width="150", height="auto")
							div.col-8.h-100.p-5
								p.mb-0.text-muted Nome completo
								h4 #{searched_user.full_name}

								p.mb-0.text-muted Número de aluno
								h4 #{searched_user.id}

								p.mb-0.text-muted Curso
								h4 #{searched_user.course}

								if can_edit
									p.mb-1.text-muted Tópicos subscritos
										button.btn.btn-xs.btn-secondary.py-0(style="font-size: 0.8em" data-toggle="modal" data-target="#editSubscriptionsModal").ml-2 Editar
									include edit_subscriptions
								else
									p.mb-1.text-muted Tópicos subscritos
								if searched_user.subscribed_tags !== null 
									each tag in searched_user.subscribed_tags
										a(href="/posts/?tag=" + tag)
											button.btn.btn-xs(style="font-size: 0.8em").py-0.btn-success.mr-1= tag
								
				hr
				
				if typeof(posts) !== "undefined"
					h4.text-muted
						i Publicações
					each p in posts
						include post
						hr
			.col-3
			