div.container-fluid
  div.row
    div.col.mt-5
      div.card.mb-0
        div.card-body.clickable(style="text-align: center;", onclick= "location.href = '/user/" + user.id + "'")
          img.rounded-circle.border.mb-2(src="/images/no-profile.png", width="100", height="auto")
          h4 #{user.full_name}
          p.text-secondary #{user.id} &bull; #{user.course}
          hr
          div
            ul
              li Publicações
              li Comentários



