div.container-fluid
    div.row(style="height:150px").border-bottom.border-secondary
        // Profile picture
        div.col-6.h-100.d-flex.bg-warning
            img(style="height: 60%;").rounded.my-auto.mx-auto(src="images/no-profile.png")
        
        div.col-6.h-100.bg-primary

        
