div.row(style="height:256px").border-bottom.border-secondary
    div.col.h-100

        // Profile Image
        div.row(style="height: 64%")
            div.col.h-100.d-flex
                img.rounded.h-75.mx-auto.my-auto(src="images/no-profile.png")
        
        // Profile Name
        div.row(style="height: 12%")
            div.col.h-100.text-white
                h4(align="center") Pedro Moura
        
        // Profile Username
        div.row(style="height: 10%")
            div.col.h-100.text-muted
                p(align="center")
                    font(size="4") @pedrorpmoura
        
        // Status
        div.row(style="height: 15%")
            div.col.h-100.text-muted
                p(align="center")
                    img(src="images/online-light.png" style="width: 10px")
                    font(size="3")  Online
        
