div.row(style="height: 75px").border-bottom.border-secondary.d-flex
    div.col.h-75.my-auto.d-flex
        form(style="width: 90%").mx-auto.my-auto
            div.form-group
                input.form-control(
                    type="text",
                    placeholder="Pesquisar...",
                    style="background-color: #4e5964"
                    ).border-secondary
                small.form-text.text-muted
                    i   Ex.: notas.pdf, a82351,...