extends authentication_layout

block content
    div.text-center.mb-4.m-auto
        img.mb-4(src="images/s4slogo.png" width="200" height="200")

        a.btn.btn-lg.btn-primary.btn-block.mb-3(href="/login") Iniciar sessão

        a.btn.btn-lg.btn-primary.btn-block(href="/register") Registar
