extends authentication_layout

block content
    form(action="/login", method="post").form-signin
        div.text-center.mb-4
            img.mb-4(src="images/s4slogo.png" width="200" height="200")
            h1.h3.mb-3.font-weight-normal Conetar
        
        div.form-label-group
            input.form-control(type="text" id="inputUsername" placeholder="Username" name="username" required autofocus)
            label(for="inputUsername") Nome

        div.form-label-group
            input.form-control(type="password" id="inputPassword" placeholder="Password" name="password" required)
            label(for="inputPassword") Palavra-passe

        div.checkbox.mb-3
            label 
                input(type="checkbox" value="remember-me" name="remember")
                |  Lembrar-me
             
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Conetar

        p.mt-5.mb-3.text-muted.text-center &copy; 2019-2020

