extends authentication_layout

block content
    form(action="/register", method="POST").form-signin
        div.text-center.mb-4
            img.mb-4(src="images/s4slogo.png" width="200" height="200")
            h1.h3.mb-3.font-weight-normal Registar
        
        div.form-label-group
            input.form-control(type="text" id="inputName" name="full_name" placeholder="Nome completo" required autofocus)
            label(for="inputName") Nome completo

        div.form-label-group
            input.form-control(type="text" id="inputNumber" name="id" placeholder="Number" required)
            label(for="inputNumber") Número de aluno

        div.form-label-group
            input.form-control(type="password" id="inputPassword" name="password" placeholder="Password" required)
            label(for="inputPassword") Palavra-passe

        div.form-label-group
            // input.form-control(type="text" id="inputCourse" name="course" // placeholder="Curso" required)
            // label(for="inputNumber") Curso

            select.form-control.chosen-select(name="course" data-placeholder="Curso" single tabindex="4")
                option(value="")
                option(value="AP") Administração Pública
                option(value="A") Arqueologia
                option(value="AV") Artes Visuais
                option(value="BA") Biologia Aplicada
                option(value="BG") Biologia e Geologia
                option(value="B") Bioquímica
                option(value="CP") Ciência Política
                option(value="CA") Ciências do Ambiente
                option(value="CC") Ciências da Computação
                option(value="CC") Ciências da Comunicação
                option(value="CJC") Criminologia e Justiça Criminal 
                option(value="DMM") Design e Marketing de Moda
                option(value="DP") Design de Produto
                option(value="E") Economia
                option(value="EB") Educação Básica
                option(value="E") Enfermagem
                option(value="EA") Estatística Aplicada 
                option(value="EC") Estudos Culturais
                option(value="EOECJ") Estudos Orientais: Estudos Chineses e Japoneses
                option(value="EP") Estudos Portugueses 
                option(value="F") Filosofia
                option(value="F") Física
                option(value="GP") Geografia e Planeamento
                option(value="G") Geologia
                option(value="G") Gestão
                option(value="H") História
                option(value="LA") Línguas Aplicadas
                option(value="LLE") Línguas e Literaturas Europeias
                option(value="M") Matemática
                option(value="NI") Negócios Internacionais
                option(value="OCV") Optometria e Ciências da Visão
                option(value="PCGT") Proteção Civil e Gestão do Território
                option(value="Q") Química
                option(value="RI") Relações Internacionais
                option(value="S") Sociologia
                option(value="T") Teatro
                option(value="A") Arquitetura
                option(value="EB") Engenharia Biológica
                option(value="EB") Engenharia Biomédica
                option(value="EC") Engenharia Civil
                option(value="ETI") Engenharia de Telecomunicações e Informática
                option(value="EEIC") Engenharia Eletrónica Industrial e Computadores
                option(value="EGI") Engenharia e Gestão Industrial
                option(value="EF") Engenharia Física
                option(value="MEI") Mestrado em Engenharia Informática
                option(value="MIEI") Mestrado Integrado em Engenharia Informática
                option(value="EM") Engenharia de Materiais
                option(value="EM") Engenharia Mecânica
                option(value="EP") Engenharia de Polímeros
                option(value="ET") Engenharia Têxtil 
                option(value="M") Medicina
                option(value="P") Psicologia




        div.checkbox.mb-3
            label 
                input(type="checkbox" value="remember-me")
                |  Lembrar-me
             
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Registar

        p.mt-5.mb-3.text-muted.text-center &copy; 2019-2020

