extends authentication_layout

block content
    form(action="/register", method="POST").form-signin
        div.text-center.mb-4
            img.mb-4(src="images/s4slogo.png" width="200" height="200")
            h1.h3.mb-3.font-weight-normal Registar
        
        div.form-label-group
            input.form-control(type="text" id="inputName" name="full_name" placeholder="Nome completo" required autofocus)
            label(for="inputName") Nome completo

        div.form-label-group
            input.form-control(type="text" id="inputNumber" name="id" placeholder="Number" required)
            label(for="inputNumber") Número de aluno

        div.form-label-group
            input.form-control(type="password" id="inputPassword" name="password" placeholder="Password" required)
            label(for="inputPassword") Palavra-passe

        div.form-label-group
            // input.form-control(type="text" id="inputCourse" name="course" // placeholder="Curso" required)
            // label(for="inputNumber") Curso

            select.form-control.chosen-select(name="course" data-placeholder="Curso" single tabindex="4")
                option(value="")
                option(value="ap") Administração Pública
                option(value="arqueologia") Arqueologia
                option(value="av") Artes Visuais
                option(value="ba") Biologia Aplicada
                option(value="bg") Biologia e Geologia
                option(value="bioquimica") Bioquímica
                option(value="cp") Ciência Política
                option(value="ca") Ciências do Ambiente
                option(value="lcc") Ciências da Computação
                option(value="cc") Ciências da Comunicação
                option(value="cjc") Criminologia e Justiça Criminal 
                option(value="dmm") Design e Marketing de Moda
                option(value="dp") Design de Produto
                option(value="economia") Economia
                option(value="eb") Educação Básica
                option(value="enf") Enfermagem
                option(value="ea") Estatística Aplicada 
                option(value="ec") Estudos Culturais
                option(value="eoecj") Estudos Orientais: Estudos Chineses e Japoneses
                option(value="ep") Estudos Portugueses 
                option(value="filosofia") Filosofia
                option(value="fis") Física
                option(value="gp") Geografia e Planeamento
                option(value="geologia") Geologia
                option(value="gestao") Gestão
                option(value="historia") História
                option(value="la") Línguas Aplicadas
                option(value="lle") Línguas e Literaturas Europeias
                option(value="mat") Matemática
                option(value="ni") Negócios Internacionais
                option(value="ocv") Optometria e Ciências da Visão
                option(value="pcgt") Proteção Civil e Gestão do Território
                option(value="quimica") Química
                option(value="ri") Relações Internacionais
                option(value="soc") Sociologia
                option(value="teatro") Teatro
                option(value="arq") Arquitetura
                option(value="engbio") Engenharia Biológica
                option(value="engbiom") Engenharia Biomédica
                option(value="ec") Engenharia Civil
                option(value="eti") Engenharia de Telecomunicações e Informática
                option(value="eeic") Engenharia Eletrónica Industrial e Computadores
                option(value="egi") Engenharia e Gestão Industrial
                option(value="engfis") Engenharia Física
                option(value="mei") Mestrado em Engenharia Informática
                option(value="miei") Mestrado Integrado em Engenharia Informática
                option(value="engmat") Engenharia de Materiais
                option(value="engmec") Engenharia Mecânica
                option(value="engpol") Engenharia de Polímeros
                option(value="engtex") Engenharia Têxtil 
                option(value="med") Medicina
                option(value="psi") Psicologia

             
        button.btn.btn-lg.btn-primary.btn-block(type="submit") Registar

        p.mt-5.mb-3.text-muted.text-center &copy; 2019-2020

