form(method="POST" action="/api/post" enctype="multipart/form-data").form-group
    input(type="text" placeholder="Título" name="title")
    input(type="text" placeholder="Tags" name="tags")
    input(type="text" placeholder="Conteúdo" name="content")
    button(type="submit").btn.btn-primary Nova Publicação