form(method="POST" action="/post").form-group
    input(type="text" placeholder="Título" name="title")
    input(type="text" placeholder="tags" name="tags")
    input(type="text" placeholder="Conteúdo" name="content")
    button(type="submit").btn.btn-primary Nova Publicação