extends layout

block content
    .w3-container.w3-section
        .w3-card-4
            h3 Ups, were sorry but we seem to be having some trouble with your request
            .w3-container
                h4= message
                h2= error.status
                pre #{error.stack}

            footer.w3-container
                p
                    a(href="/") Homepage
