extends layout

block content
    div.container-fluid.d-flex.flex-column
        div.row.flex-grow-1
            div.col-2.bg-dark.text-wrap.text-white
                p ola ola ol aola oal a ola do lwdo wla lwd lwol
            div.col-10.bg-light

