div.col-sidebar.h-100

    // Header
    include sidebar_components/header

    // Profile View
    //include sidebar_components/profile_view
    include sidebar_components/profile_view2

    // Search Bar
    include sidebar_components/search_bar