div.col-2point5.bg-dark.text-wrap
    // sidebar header
    div(
        style="height: 60px; padding-top: 10px; padding-left: 20px; font-family: Impact"
    ).bg-dark.border-bottom.border-secondary
        h2.text-secondary APP NAME
    
    // sidebar user information
    div(
        style="height: 120px"
    ).row.bg-info
        div.col-5.bg-primary
            

    
    
